### **Avance 2 - Proyecto Final**

In [3]:
from src.db.database import DBConnection
db1 = DBConnection()

In [4]:
# Ejecutar una query con df
query = """
select FirstName as Nombre, LastName as Apellido, Gender as Genero, HireDate as FechaContratacion,
CityName as Ciudad, CountryName as Pais from employees e join cities c on e.cityid = c.cityid
join countries co on c.countryID= co.countryID LIMIT 5;
"""
df = db1.execute_query(query)
df

2025-06-02 11:46:12,963 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-06-02 11:46:12,963 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-02 11:46:12,968 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-06-02 11:46:12,969 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-02 11:46:12,970 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-06-02 11:46:12,971 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-06-02 11:46:12,973 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-02 11:46:12,973 INFO sqlalchemy.engine.Engine
select FirstName as Nombre, LastName as Apellido, Gender as Genero, HireDate as FechaContratacion,
CityName as Ciudad, CountryName as Pais from employees e join cities c on e.cityid = c.cityid
join countries co on c.countryID= co.countryID LIMIT 5;

2025-06-02 11:46:12,974 INFO sqlalchemy.engine.Engine [generated in 0.00130s] {}
2025-06-02 11:46:12,977 INFO sqlalchemy.engine.Engine ROLLBACK

      Nombre Apellido Genero   FechaContratacion       Ciudad           Pais
0     Nicole   Fuller      F 2011-06-20 07:15:37  New Orleans  United States
1  Christine   Palmer      F 2011-04-27 04:07:57      Fremont  United States
2      Pablo    Cline      M 2012-03-30 18:55:23    Rochester  United States
3    Darnell  Nielsen      M 2014-03-06 06:55:03      Lubbock  United States
4    Desiree   Stuart      F 2014-11-16 22:59:55      Anaheim  United States

### **Patrones de diseño**

**Patron Singleton**

In [5]:
## Verificar Patron Singleton

db1 = DBConnection()
db2 = DBConnection()

print("Es la misma instancia?", db1 is db2)
print("Es la misma base de datos?", db1.engine.url == db2.engine.url)

Es la misma instancia? True
Es la misma base de datos? True

In [6]:
from src.design_patterns.factory import CustomerFactory
from src.design_patterns.factory import EmployeeFactory

db = DBConnection()

**Patron Factory**

In [7]:
## Implementación del patrón Factory

## Customer Factory

df = db.execute_query("Select * from customers limit 10")

customers = [CustomerFactory.from_series(row) for _, row in df.iterrows()]

customers[0].__dict__

2025-06-02 11:46:35,333 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-02 11:46:35,334 INFO sqlalchemy.engine.Engine Select * from customers limit 10
2025-06-02 11:46:35,334 INFO sqlalchemy.engine.Engine [generated in 0.00201s] {}
2025-06-02 11:46:35,336 INFO sqlalchemy.engine.Engine ROLLBACK

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1cbd86885f0>,
 'CustomerID': 1,
 'FirstName': 'Stefanie',
 'MiddleInitial': 'Y',
 'LastName': 'Frye',
 'CityID': 79,
 'Address': '97 Oak Avenue'}

In [8]:
## Implementación del patrón Factory

## Employee Factory

df = db.execute_query("Select * from employees limit 10")
print(df.columns.to_list())

employees = [EmployeeFactory.from_series(row) for _, row in df.iterrows()]

employees[0].__dict__

2025-06-02 11:46:39,349 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-06-02 11:46:39,349 INFO sqlalchemy.engine.Engine Select * from employees limit 10
2025-06-02 11:46:39,350 INFO sqlalchemy.engine.Engine [generated in 0.00139s] {}
2025-06-02 11:46:39,352 INFO sqlalchemy.engine.Engine ROLLBACK
['EmployeeID', 'Firstname', 'MiddleInitial', 'LastName', 'BirthDate', 'Gender', 'CityID', 'HireDate']

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x1cbd8689190>,
 'EmployeeID': 1,
 'FirstName': 'Nicole',
 'MiddleInitial': 'T',
 'LastName': 'Fuller',
 'BirthDate': datetime.date(1981, 3, 7),
 'Gender': 'F',
 'CityID': 80,
 'HireDate': Timestamp('2011-06-20 07:15:37')}